*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:#212121;
    color: azure;
}
.pra{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 20px;
}
.str{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
   
}
    